<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adição de nota</title>
    <style>
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(28, 28, 28);
}
    </style>
</head>
<body>

    <form id="frmlrio">
        <input id="ttl_nt" type="text" placeholder="titulo">
        <textarea id="desc_nt" placeholder="..."></textarea>
        <input id="g535" type="submit" value="enviar">
    </form>
    
</body>
<script type="module" src="../static/js/script_02.js"></script>
</html>